* {
    padding: 0;
    margin: 0;
}

#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fondoHome {
    background-image: url(./img/avion2.png);
    opacity: 0.8;
    width: 100%;
    height: 70%;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

.cabeceraresumen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    font-family: system-ui;
    color: #00629c;
}

.resumen{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-around;
    border: solid;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
    align-items: center;
    margin-top: 40px;
    font-family: system-ui;
    font-weight: 500;
    color: rgb(46, 46, 92);
    font-family: system-ui;
    
    
    
}


.gracias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:x-large;
    background-color: white;
    font-family: system-ui;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 50%;
}

.resumenpasajeros{
    width: 700px;
    /* border: 1px solid grey; */
    background-color: white;    
    padding: 20px;
}

.resumenvuelo{
    width: 700px;
    text-align: center;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.resumenvuelo p{
    margin:0;
}

.resumenprecio{
    width: 700px;
    text-align: center;
    background-color: white;
    color: white;
    background: #00629c;
    padding: 20px;
    font-size: 40px;
    border:none;
    border-radius: 10px;

}

#num-reserva{
    font-size: 20px;
    color: #00629c;
}

.parrafo-medio {
    font-size: 17px;
    color: #494949;
    margin:0px;
}

.titulo-div {
    color:#494949;
}

.destino-origen{
    font-size: 25px;
}

div#resumen .resumenpasajeros, .resumenvuelo {
    font-size: 17px;
}

div#resumen{
    box-shadow: 1px 1px 12px;
    border-radius: 10px;
    background-color: white;   
    padding:5px;
}

.pasajero-title{
    font-size: 20px;
    color: #00629c;
}

